/* Orrery.css */
body, html {
  margin: 0;
  padding: 0;
  overflow: hidden; /* Prevent scrollbars */
  height: 100%;
  background-color: black; /* Make sure the background is black */
}

canvas {
  display: block;
  width: 100vw;
  height: 100vh;
}

.handpose-btn{
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 60px;
  
  height: 60px;
  border-radius: 50%;
  background-color: #1ab4e4;
  border: 2px solid #0fbee5;
  color: white;
  font-size: 20px;
  cursor: pointer;
}

.planet-label {
  color: white;
  padding: 3px 8px;
  border-radius: 4px;
  font-size: 12px;
  pointer-events: all;
  transition: transform 0.3s, color 0.3s;
}



.planet-label:hover {
  transform: scale(1.2);
  color: rgb(159, 220, 26);
  
}
